<div class="container mt-5">
  <div class="row">
    <div class="col-md-12 row align-items-center justify-content-center">
      <div class="error-template">
        <h3 class="title-danger text-danger">狀態異常：{{statusCode}}</h3>
        <div class="error-details">
          <h4 class="text-danger">{{message}}</h4>
        </div>
        <div class="error-actions">
          <a class="btn btn-outline-secondary w-50 my-3" href="/">Back</a>
        </div>
      </div>
    </div>
  </div>
</div>